@charset "utf-8";

@import "~@mdi/font/css/materialdesignicons.css";
@import "~bulma/bulma";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  width: 100vw;
  min-height: calc(100vh - 100px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Combat Character" "Inventory Spells" "Notes .";
}

.Combat {
  @extend %flex-center;
  grid-area: Combat;
  background-color: lightgreen;
}

.Character {
  @extend %flex-center;
  grid-area: Character;
  background-color: plum;
}

.Inventory {
  @extend %flex-center;
  grid-area: Inventory;
  background-color: lavender;
}

.Spells {
  @extend %flex-center;
  grid-area: Spells;
  background-color: crimson;
}

.Notes {
  @extend %flex-center;
  grid-area: Notes;
  background-color: aquamarine
}

.tab-bar {
  width: 100vw;
}

@media (max-width: 900px) and (min-width: 380px) {
  .grid-container {
    grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
    grid-template-rows: 1fr;
    grid-template-areas: "Combat Character Inventory Spells Notes";
    overflow-x: scroll;
  }
}

@media (max-width: 380px) {
  .grid-container {
    grid-template-columns: 100vw;
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-areas: "Combat" "Character" "Inventory" "Spells" "Notes";
    overflow-y: scroll;
    height: calc(100vh - 40px);
  }

}
