$black: #272727;
$yellow: #ffc600;

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
  font-weight: 600;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  background-color: $black;
}

#root {
  min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.container {
  display: grid;
  min-height: calc(100vh - 100px);
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 250px;
  grid-gap: 1px;
  grid-template-areas: 'Menu Menu' 'Player Game' 'Inventory Movement';
}

.player-window {
  grid-area: Player;
  background-color: green;
  display: flex;
}

.movement-window {
  grid-area: Movement;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  grid-area: Menu;
  background-color: grey;
  display: flex;
  align-items: center;
}

.inventory-window {
  grid-area: Inventory;
  background-color: burlywood;
  display: flex;
}

.game-window {
  grid-area: Game;
  background-color: teal;
  display: flex;
}
