.inventory-app-container {
  display: grid;
  grid-template-columns: minmax(375px, 1200px);
  grid-template-rows: 1fr minmax(60px, 200px);
  gap: 2em;
  justify-content: center;
  background-color: #fff;
  padding-top: 2em;
  grid-template-areas:
    'GameScreen'
    'Inventory';
}

.game-screen {
  grid-area: GameScreen;
  background-color: aqua;
  min-height: 300px;
}

.inventory {
  grid-area: Inventory;
  background-color: limegreen;
}
